@use '../globals' as *;

.modal {
   position: fixed;
   width: 90%;
   max-width: 450px;
   background-color: white;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 11;
   border-radius: 4px;
   box-sizing: border-box;
}

.modal_head {
   border-bottom: 1px solid $colors-border;
   padding: 20px;
   position: relative;

   button {
      border-color: transparent;
      color: black;
      position: absolute;
      right: 0;
      top: 0;
      padding: 15px;

      svg {
         font-size: 30px;
      }
   }
}

.modal_body {
   padding: 20px;
   max-height: 300px;
   overflow: auto;

   > form p {
      margin-top: 0px
   } 
}

.modal .input-group:last-child {
   margin-bottom: 5px;
   margin-top: 40px;
}